fastapi>=0.115.2,<1.0
uvicorn[standard]
pydantic>=2.0.0
sentence-transformers
faiss-cpu
numpy>=1.25.0
pandas
scikit-learn
scipy>=1.10.1
protobuf==4.21.5
transformers
accelerate
tokenizers
streamlit
httpx
requests
tqdm
